.badge-mysql {
  background-color: #f8d2a0; 
  color: #00758f;
}

.badge-postgresql {
  background-color: #d6edff; 
  color: #336791;
}

.badge-disconnected {
  background-color: #f1bec3; 
  color: rgb(255, 0, 0);
}

.badge-connected {
  background-color: #dffad4; 
  color: rgb(21, 86, 30);
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px; /* 테이블과의 간격 */
}

.search-input {
  width: 450px; /* 원하는 가로 크기로 조절 */
}

