.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  border-radius: 5px;
  display: none;
  z-index: 10;
  pointer-events: auto;
  font-size: 0.9rem;
  color: #333;
  max-width: 300px;
}

#tooltip h4 {
  margin-top: 0;
  color: #0077ff;
  font-size: 1.1rem;
  font-weight: bold;
}

#tooltip .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.dropdown {
  margin-top: 5px;
  margin-left: 5px;
}

.para{
text-decoration: underline;
}
label{
font-size: 22px;
line-height: 38.5px;
font-weight: 700px;
}

.logout-button {
background-color: #333;
color: white;
border: none;
padding: 10px;
cursor: pointer;
}

.main-content {
flex-grow: 1;
padding: 10px;

}

.main-header {
width: auto;
height: auto;
display: flex;
justify-content: space-between;
align-items: center;
}

.connection-form {
background-color: white;
padding: 20px;
border-radius: 4px;
}

.connection-form h3 {
margin-top: 0;
}

.form-group {
margin-top: 39px;
margin-bottom: 20px;
}
.form-groups {
top: 351px;
width: 984px;
height: 450px;
margin-bottom: 20px;
border-radius: 4px;
border: 1px solid #7C7C7C;
}
.form-groups label{
display: block;
margin-bottom: 5px;
}
.form-group label {

display: block;
margin-bottom: 5px;
}
input {
width: 492px;
padding: 8px;
box-sizing: border-box;
}

.form-group-inner {
margin-left: 46px;
margin-top: 16px;
margin-bottom: 16px;
}
span{
margin-left: 10px;
font-size: 12px;
color: #7C7C7C;
}
.form-buttons {
display: flex;
justify-content: flex-start;
}

.form-buttons button {
padding: 10px 20px;
cursor: pointer;
}
.form-buttons .test-connection-button,
.form-buttons .ok-button {
padding: 10px 20px;
cursor: pointer;
margin-right: 10px;
background-color: #004098;
color: white;
}

