.badge-csv {
  background-color: #cff5c0; 
  color: rgb(21, 80, 30);
}

.badge-json {
  background-color: #bbb6e2; 
  color: rgb(41, 30, 79);
}

.badge-db {
  background-color: #f6dcb5; 
  color: rgb(247, 144, 75);
}

.badge-saved {
  background-color: #cff5c0; 
  color: rgb(21, 80, 30);
}

.badge-undefined {
  background-color: #f1bec3; 
  color: rgb(255, 0, 0);
}

.badge-unconnected {
  background-color: #f1bec3; 
  color: rgb(255, 0, 0);
}

.badge-connected {
  background-color: #dffad4; 
  color: rgb(21, 86, 30);
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.search-input {
  width: 450px; /* 원하는 가로 크기로 조절 */
}


