  .event-content {
    /*overflow-y: auto;*/
    padding: 20px;
    background-color: #eaeaea; /*#f6f6f6*/
    height: 100%;
  }

  .content-box {
    display: flex;
    align-self: flex-start;
    align-items: center; /* 수직 중앙 정렬 */
    padding: 25px;
    background-color: #ffffff;
    border-radius: 4px;
    width: 100%; /*calc(100%-50px); /* Make sure it takes full width available */
    /*max-width: 1000px;  /*Optional: control the max width */
    margin-bottom: 20px;
    box-shadow: 0;
  }

  .content-box-vertical {
    display: vertical;
    align-self: flex-start;
    align-items: center; /* 수직 중앙 정렬 */
    padding: 25px;
    background-color: #ffffff;
    border-radius: 4px;
    width: 100%; /*calc(100%-50px); /* Make sure it takes full width available */
    /*max-width: 1000px;  /*Optional: control the max width */
    margin-bottom: 20px;
    box-shadow: 0;
  }
  :root {
    --border-radius: 8px;
  }